<form action="{% url 'bipApp:vote' project.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ project.name }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for task in project.task_set.all %}
        <input type="radio" name="task" id="task{{ forloop.counter }}" value="{{ task.id }}">
        <label for="task{{ forloop.counter }}">{{ task.name }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>
